.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #cfcfcf;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    font-family: "Quicksand", sans-serif;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
